<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Editing activity option</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <app-option-form #optionForm [option]="activityOption" action='edit' (submit)="editOption($event)"></app-option-form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="save()">Save&Close</button>
</div>