<div class="container-login" fxFlexFill fxLayout="column" fxLayoutAlign=" center">
  <div class="auth-wrapper">
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
      <h3 class="text-center">Reset password</h3>
      <br>
      <div class="form-group">
        <label for="new-password">New password</label>
        <input type="password" formControlName="new_password" class="form-control" id="new-password" placeholder="New password"
          [ngClass]="{ 'is-invalid': submitted && (f.new_password.errors || passwordForm.errors?.notSame) }">
        <div *ngIf="submitted && (f.new_password.errors || passwordForm.errors?.notSame)" class="invalid-feedback">
          <div *ngIf="f.new_password.errors?.required; else newPasswordLength">New password is required</div>
          <ng-template #newPasswordLength>
            <div *ngIf="f.new_password.errors?.minlength; else newPasswordStrong">Password must be at least 8 characters long</div>
          </ng-template>
          <ng-template #newPasswordStrong>
            <div *ngIf="f.new_password.errors?.notStrong; else newPasswordSame">Passwords must contain at least one letter, number and special character</div>
          </ng-template>
          <ng-template #newPasswordSame>
            <div *ngIf="passwordForm.errors?.notSame">Passwords don't match</div>
          </ng-template>
        </div>
      </div>
      <div class="form-group">
        <label for="repeat-password">Repeat password</label>
        <input type="password" formControlName="repeat_new_password" class="form-control" id="repeat-password" placeholder="Repeat password"
          [ngClass]="{ 'is-invalid': submitted &&  (f.repeat_new_password.errors || passwordForm.errors?.notSame) }">
        <div *ngIf="submitted && (f.repeat_new_password.errors || passwordForm.errors?.notSame)" class="invalid-feedback">
          <div *ngIf="f.repeat_new_password.errors?.required; else repeatNewPasswordSame">Repeat password is required</div>
          <ng-template #repeatNewPasswordSame>
            <div *ngIf="passwordForm.errors?.notSame">Passwords don't match</div>
          </ng-template>
        </div>
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Reset password</button>
    </form>
  </div>
</div>
