<h3>Change password</h3>
<form [formGroup]="passwordForm">
  <div class="form-row">
    <div class="col">
      <div class="form-group">
        <label for="old-password">Old password*</label>
        <input id="old-password" type="password" class="form-control" formControlName="old_password"
               [ngClass]="{ 'is-invalid': submitted && f.old_password.errors }">
        <div *ngIf="submitted && f.old_password.errors" class="invalid-feedback">
          <div *ngIf="f.old_password.errors.required">Old password is required</div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <div class="form-group">
        <label for="new-password">New password*</label>
        <input id="new-password" type="password" class="form-control" formControlName="new_password"
               [ngClass]="{ 'is-invalid': submitted && (f.new_password.errors || passwordForm.errors?.notSame) }">
        <div *ngIf="submitted && (f.new_password.errors || passwordForm.errors?.notSame)" class="invalid-feedback">
          <div *ngIf="f.new_password.errors?.required; else newPasswordLength">New password is required</div>
          <ng-template #newPasswordLength>
            <div *ngIf="f.new_password.errors?.minlength; else newPasswordStrong">Password must be at least 8 characters long</div>
          </ng-template>
          <ng-template #newPasswordStrong>
            <div *ngIf="f.new_password.errors?.notStrong; else newPasswordSame">Passwords must contain at least one letter, number and special character</div>
          </ng-template>
          <ng-template #newPasswordSame>
            <div *ngIf="passwordForm.errors?.notSame">Passwords don't match</div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <div class="form-group">
        <label for="repeat-password">Repeat password*</label>
        <input id="repeat-password" type="password" class="form-control" formControlName="repeat_new_password"
               [ngClass]="{ 'is-invalid': submitted &&  (f.repeat_new_password.errors || passwordForm.errors?.notSame) }">
        <div *ngIf="submitted && (f.repeat_new_password.errors || passwordForm.errors?.notSame)" class="invalid-feedback">
          <div *ngIf="f.repeat_new_password.errors?.required; else repeatNewPasswordSame">Repeat password is required</div>
          <ng-template #repeatNewPasswordSame>
            <div *ngIf="passwordForm.errors?.notSame">Passwords don't match</div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-auto">
      <button class="btn btn-success" (click)="onChangePassword()">Change password</button>
    </div>
  </div>
</form>
