<h3>WELCOME TO H.V. OCKHAM</h3>
<br>
<p>
  H.V. Ockham is the honours association for students of the Honours Programme of the University of Twente. We are
  involved in anything and everything that has to do with the Honours Programme and all that is related to it.
  For more information about the programme itself, we advise you to look at this subsite of the University. We foster
  the honours community by organising all kinds of activities for our members, such as monthly drinks, lunch
  lectures and excursions. We also have our very own association room, known as the Ockham Room (Technohal
  1443C). Feel free to drop by sometime for a cup of coffee, snacks or a chat!
</p>