<div class="custom-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-12">
        <app-contact-form></app-contact-form>
      </div>
      <div class="col-sm-4 col-12">
        <h1 class="page-title">Contact</h1>
        <div class="content">
          <span property="dc:title" content="Contact" class="rdf-meta element-hidden"></span>
          <p>Honoursvereniging Ockham<br>University of Twente<br>KVK 08209433</p>
          <p>De Bastille (postvak 47)<br>Postbus 217<br>7500 AE, Enschede</p>
          <p>Visiting Adress:<br>Technohal TL1334C<br>Hallenweg 5<br>7522NH Enschede<br><br>E-mail:<br><a href="mailto:Board@hvockham.nl">Board@hvockham.nl</a><br><a href="mailto:Secretary@hvockham.nl">Secretary@hvockham.nl</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
